.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
    margin: 0;
    padding: 0;
}

.open-modal {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

.content_modal {
    max-width: 50%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
}

.content_modal form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.reply-close, .see-close {
    margin: 1%;
}

.reply_modal textarea {
    width: 90%;
    min-height: 40px;
    resize: none;
}
